@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* Variables */
:root {
  /* Light Mode */
  --text-primary-color: #23232A;
  --text-secondary-color: #6A6B7C;
  --bg-primary-color: #FBFBFE;
  --bg-secondary-color: #FBFBFE;
  --primary-color: #434CCB;
  --secondary-color: #5158b8;
}

[data-theme="dark"] {
  /* Dark Mode */
  --text-primary-color: #fff;
  --text-secondary-color: #64707d;
  --bg-primary-color: #666666;
  --bg-secondary-color: #333333;
}
  
.theme-switch {
display: inline-block;
height: 34px;
position: relative;
width: 60px;
}

.theme-switch input {
display:none;
}

.slider {
background-color: #ccc;
bottom: 0;
cursor: pointer;
left: 0;
position: absolute;
right: 0;
top: 0;
transition: .4s;
}

.slider:before {
background-color: #fff;
bottom: 4px;
content: "";
height: 26px;
left: 4px;
position: absolute;
transition: .4s;
width: 26px;
}

input:checked + .slider {
background-color: var(--text-primary-color);
}

input:checked + .slider:before {
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

i.fas.fa-moon {
  text-decoration: none;
  color: var(--text-primary-color);
  font-size: 1.2rem;
  padding-top: 0.7rem;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Main Styling */
body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-primary-color);
  color: var(--text-primary-color);
  line-height: 1.6;
  color: #fff;
}

p {
  margin: 10px 0;
}

i {
  display: inline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 2rem;
}

section > * {
   margin: 0 auto;
   max-width: 100%;
}

/* Section colors */
/* #home {
  background: black;
} */
#about {
  background: red;
}
#contact {
  background: orangered;
}
#services {
  background: blueviolet;
}

/* Navbar Styling */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  padding: 1.25rem;
  z-index: 1;
}

.navbar .logo {
  padding: 1.5rem;
  font-size: 2rem;
}

.logo i.fas.fa-terminal {
  color: var(--primary-color);
}

.navbar .logo a {
  transition: color 0.4s ease-in-out;
  color: var(--text-primary-color);
}

.navbar .logo a:hover {
  color: var(--primary-color);
}

.navbar .nav-menu {
  display: flex;
}

.nav-menu .nav-item a {
  text-decoration: none;
  color: var(--text-primary-color);
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.nav-menu .nav-item a:hover {
  /* background-color: var(--primary-color); */
  color: var(--primary-color);
  text-decoration: none;
  /* font-weight: bolder; */
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    /* 
      You can change the position of the navbar 
      ----------------------------------------------------------------------------------
      To succesfully do this, you must change the .nav-menu.active to the chosen position
      * right: -100%;
      * .right-menu.active { right: 0;}
      -----------------------------------------------------------------------------------
    */
    right: -100%;
    top: 0rem;
    flex-direction: column;
    /* This controls the width of the navbar container*/
    width: 50%;
    /* This controls the height of the navbar container */
    height: 100%;
    text-align: right;
    transition: 0.3s;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    /* This controls the background color of the navbar container*/
    background-color: #f4f4f4;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li:first-child {
     margin-top: 4.5rem;
     border-top: 1px solid #ccc;
  }

  .nav-item {
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
#home{
  background: var(--primary-color);  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

/* ============== CUSTOM SCROLLBAR ================== */
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}