@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* Variables */
:root {
  /* Light Mode */
  --text-primary-color: #23232A;
  --text-secondary-color: #6A6B7C;
  --text-third-color: #fff;
  --bg-primary-color: #faf8ff;
  --bg-secondary-color: #d5d3da;
  --primary-color: #5D55FA;
  --secondary-color: #BBB8FD;
}

[data-theme="dark"] {
  /* Dark Mode */
  --text-primary-color: #fff;
  --text-secondary-color: #64707d;
  --bg-primary-color: #aea9ba;
  --bg-secondary-color: #494554;
}
  
.theme-switch {
display: inline-block;
height: 34px;
position: relative;
width: 60px;
}

.theme-switch input {
display:none;
}

.slider {
background-color: #ccc;
bottom: 0;
cursor: pointer;
left: 0;
position: absolute;
right: 0;
top: 0;
transition: .4s;
}

.slider:before {
background-color: #fff;
bottom: 4px;
content: "";
height: 26px;
left: 4px;
position: absolute;
transition: .4s;
width: 26px;
}

input:checked + .slider {
background-color: var(--text-primary-color);
}

input:checked + .slider:before {
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

i.fas.fa-moon {
  text-decoration: none;
  color: var(--text-primary-color);
  font-size: 1.2rem;
  padding-top: 0.7rem;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



/* Main Styling */
body {
  position: relative;
  width:100%;
  /* top: 60px; */
  bottom: 0;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Nunito",system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
  background: var(--bg-primary-color);
  color: var(--text-primary-color);
  line-height: 1.6;

}

p {
  margin: 10px 0;
  line-height: 2.5rem;
  max-width: 80vw;
}

i {
  display: inline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

/* Hero section */

#hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* background: var(--bg-primary-color); */
  background-image: url(/wickedbackground.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-shape-divider-bottom-1649965349 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  fill: var(--bg-primary-color);
}

#hero .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 54px 30px 0px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.text-primary {
  color: var(--primary-color);
  font-weight: 600;
}

.text-secondary {
  color: var(--text-primary-color);
  font-weight: 800;
}

.text-tertiary {
  color: var(--text-primary-color);
  font-weight: 800;
}

.content h1 {
  max-width: 800px;
  font-size: 2.8rem;
}

.content h2 {
  max-width: 800px;
  font-size: 2.8rem;
}

.content p {
  margin: 0.4rem 0 0.7rem;
  font-weight: 500;
}

/* Hero image */
.content .content-image img {
  width: 100%;
  border: 4px solid var(--bg-primary-color);
  border-radius: 50%;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
  transform: translateY(-40px);
}

.mouse {
  width: 25px;
  margin:0 auto 3em;
  height: 40px;
  border: 2px solid #333;
  border-radius: 60px;
  position: relative;
  overflow: hidden; }
  .mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite; }

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px; } }

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px; } }

[data-theme="dark"] .mouse {
  border: 2px solid #eee;
}

[data-theme="dark"] .mouse::before {
  background-color: #eee;
}

.content-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 2rem;
}

/* Section colors */
#about {
  /* background-image: url(/blob-scene-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background: var(--bg-primary-color);
  width: 100%;
}
#projects {
  background: var(--bg-secondary-color);
}
#skills {
  background: var(--bg-primary-color);
}
#education {
  background: var(--bg-secondary-color);
}
#contact {
  background: var(--bg-primary-color);
}

a.anchor {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

/* Navbar Styling */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  background-color: var(--bg-primary-color);
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
  position: fixed;
  top: 0;
  padding: 1.25rem;
  z-index: 1;
}

.navbar .logo {
  padding: 1.5rem;
  font-size: 3rem;
}

.logo i.fas.fa-terminal {
  color: var(--primary-color);
}

.navbar .logo a {
  /* font-family: 'Allura'; */
  /* font-family: 'Dancing Script'; */
  transition: color 0.4s ease-in-out;
  /* color: var(--text-primary-color); */
}

.navbar .logo a:hover {
  color: var(--primary-color);
}

.navbar .nav-menu {
  display: flex;
}

.nav-menu .nav-item a {
  text-decoration: none;
  /* color: var(--text-primary-color); */
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.nav-menu .nav-item a:hover {
  /* background-color: var(--primary-color); */
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bolder;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 27px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
#fixedbutton {
  position: fixed;
  bottom: 0px;
  right: 0px; 
}
/* Responsive */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    /* 
      You can change the position of the navbar 
      ----------------------------------------------------------------------------------
      To succesfully do this, you must change the .nav-menu.active to the chosen position
      * right: -100%;
      * .right-menu.active { right: 0;}
      -----------------------------------------------------------------------------------
    */
    right: -100%;
    top: 0rem;
    flex-direction: column;
    /* This controls the width of the navbar container*/
    width: 50%;
    /* This controls the height of the navbar container */
    height: 100%;
    text-align: right;
    transition: 0.3s;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    /* This controls the background color of the navbar container*/
    background-color: #f4f4f4;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li:first-child {
     margin-top: 4.5rem;
     border-top: 1px solid #ccc;
  }

  .nav-item {
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


/* ============== FOOTER ================== */
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/* Mobile device styles for resolutions of 480px or below */
@media (max-width: 480px) {
  #hero {
    height: 100vh;
    top: 20px;
  }

  #hero .content {
    top: 2.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px;
    /* margin-top: 2rem; */
    height: 93%;
    position: relative;
  }

  .content h1 {
    font-size: 2.3rem;
  }

  .content h2 {
    font-size: 1.84rem;
  }
  
  .content p {
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1.1rem;
  }

  .content .content-text {
    margin: 0 auto;
  }

  .content .content-image {
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .content .content-image img {
    width: auto;
    border: 4px solid var(--bg-primary-color);
    border-radius: 50%;
    box-shadow: 1px 2px 3px 4px rgb(12 12 12 / 20%);
    transform: translateY(-40px);
  }
  .mouse {
    bottom: 2rem;
    width: 25px;
    margin: 0 auto 3rem;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
  }
}

/* No less than 481px, no greater than 768px */
@media (min-width:481px) and (max-width:768px) {
  #hero {
    height: 100vh;
    top: 20px;
  }

  #hero .content {
    top: 2.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px;
    /* margin-top: 5rem; */
    height: 90%;
    position: relative;
  }

  .content h1 {
    font-size: 2rem;
  }

  .content h2 {
    font-size: 1.5rem;
  }
  
  .content p {
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1rem;
  }

  .content .content-text {
    margin: 0 auto;
    max-width: 400px;
  }

  .content .content-image {
    margin: 0 auto;
    /* margin-bottom: 1rem; */
  }

  .content .content-image img {
    width: auto;
    margin-top: 3rem;
    border: 4px solid var(--bg-primary-color);
    border-radius: 50%;
    box-shadow: 1px 2px 3px 4px rgb(12 12 12 / 20%);
    transform: translateY(-40px);
  }

  .mouse {
    bottom: 1.8rem;
    width: 25px;
    margin: 0 auto 3rem;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
  }
}

/* No less than 769px, no greater than 1024px */
@media (min-width:769px) and (max-width:1024px) {
  #hero {
    height: 100vh;
    top: 20px;
  }

  #hero .content {
    top: 2.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px;
    /* margin-top: 1rem; */
    height: 90%;
    position: relative;
  }

  .content h1 {
    font-size: 2.4rem;
  }

  .content h2 {
    font-size: 1.8rem;
  }
  
  .content p {
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1rem;
  }

  .content .content-text {
    margin: 0 auto;
    max-width: 400px;
  }

  .content .content-image {
    margin: 0 auto;
  }

  .content .content-image img {
    width: auto;
    margin-top: 3rem;
    border: 4px solid var(--bg-primary-color);
    border-radius: 50%;
    box-shadow: 1px 2px 3px 4px rgb(12 12 12 / 20%);
    transform: translateY(-40px);
  }
  .mouse {
    bottom: 1.8rem;
    width: 25px;
    margin: 0 auto 3rem;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
  }
}

/* No less than 1025px, no greater than 1200px */
@media (min-width:1025px) and (max-width:1200px) {
  #hero {
    height: 100vh;
    top: 20px;
  }

  #hero .content {
    top: 2.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px;
    /* margin-top: 1rem; */
    height: 90%;
    position: relative;
  }

  .content h1 {
    font-size: 2.8rem;
  }

  .content h2 {
    font-size: 2.2rem;
  }
  
  .content p {
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .content .content-text {
    margin: 0 auto;
    max-width: 400px;
  }

  .content .content-image {
    margin: 0 auto;
  }

  .content .content-image img {
    width: 120%;
    margin-top: 3rem;
    border: 4px solid var(--bg-primary-color);
    border-radius: 50%;
    box-shadow: 1px 2px 3px 4px rgb(12 12 12 / 20%);
    transform: translateY(-40px);
  }
  .mouse {
    bottom: 1.8rem;
    width: 25px;
    margin: 0 auto 3rem;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
  }
}

/* No less than 1201px, no greater than 1200px */
@media (min-width:1201px) {
  #hero {
    height: 100vh;
    top: 20px;
  }

  #hero .content {
    top: 2.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px;
    /* margin-top: 1rem; */
    height: 90vh;
    position: relative;
  }

  .content h1 {
    font-size: 2.8rem;
  }

  .content h2 {
    font-size: 2.8rem;
  }
  
  .content p {
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .content .content-text {
    margin: 0 auto;
    max-width: 800px;
  }

  .content .content-image {
    margin: 0 auto;
    z-index: 1;
  }

  .content .content-image img {
    width: 120%;
    margin-top: 3rem;
    border: 4px solid var(--bg-primary-color);
    border-radius: 50%;
    box-shadow: 1px 2px 3px 4px rgb(12 12 12 / 20%);
    transform: translateY(-40px);
  }
  .mouse {
    bottom: 1.8rem;
    width: 25px;
    margin: 0 auto 3rem;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
  }
}

/* =========== BACKGROUND ANIMATION ============= */
.area{
  /* background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
  width: 100%;
  height:100vh;
}

.circles{
  position: absolute;
  top: 2.8rem;
  left: 0;
  width: 100%;
  height: 96.7%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}